.heading-1{
color: $color-primary;
font-size: 3.1rem;
text-transform: capitalize;
//word-spacing: .1rem;
//letter-spacing: .1rem;
font-weight: 700;
line-height: 1.5;
animation-name: moveInLeft;
animation-duration: 2s;
animation-delay:.2s;
}

.heading-2{
    color: #fff;
    text-transform: capitalize;
    font-size: 3rem;
}
.heading-3{
   color: $color-secondary;
font-size: 3.1rem;
text-transform: capitalize;
//word-spacing: .1rem;
//letter-spacing: .1rem;
font-weight: 700;
line-height: 1.5;
 animation-name: moveInLeft;
animation-duration: 2s;
animation-delay:.2s;
   
}
.paragraph-1{
    color: $color-secondary;
    font-size: 2rem;
    text-transform: capitalize;

}

.paragraph-2{
    color: #fff;
    font-size: 2rem;
    text-align: center;
    //font-weight: 600;
}



////////BUTTONS///////

.btn-1{
    background-color:$color-primary;
    color: #fff;
    padding: 1.5rem 5rem;
    margin: 2rem 0;
    text-transform: capitalize;
    justify-self: start;
    border: none;
    font-size: 1.5rem;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    

    @include hover-1;
}


.btn-2{
    background-color:#000;
    color: #fff;
    padding: 1rem 5rem;
    margin: 0;
    text-transform: capitalize;
    justify-self: start;
    border: none;
    font-size: 1.5rem;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;

      @include hover-5;
}


.btn-3{
    background-color:$color-secondary;
    color: #fff;
    padding: 1rem 5rem;
    margin: 0;
    text-transform: capitalize;
    justify-self: start;
    border: none;
    font-size: 1.5rem;
    border-radius: 5rem;
      @include hover-3;
}


///////////////////////////////searcbox

.search-box{
    display: flex;
    background-color: #fff;
    justify-content: center;
    align-items: center;
     border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    padding: .5rem;
    box-shadow: 0 .5rem 1rem rgba($color: #000000, $alpha: .5) ;
    @media screen and(max-width:37.5em){
    width: 90%;
}   

    input{
        border: none;
        transition: all .3s;
        padding: .6rem;
        margin:.6rem;
        @media screen and(max-width:37.5em){
         width: 85%;
}   
            

        &:focus{
            outline:transparent;
        }
        
       
    }

    

}